# PW Skills Data Science Masters 

## Assignment

##### Q1. What is a database? Differentiate between SQL and NoSQL databases.
##### Ans- A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.

|SQL                                          || NoSQL|
|--------------------------------------------||--------------------------------------------|
|RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS). ||	Non-relational or distributed database system.
|These databases have fixed or static or predefined schema. ||	They have dynamic schema.
|These databases are not suited for hierarchical data storage. || These databases are best suited for hierarchical data storage.
|These databases are best suited for complex queries.	|| These databases are not so good for complex queries.
|Vertically Scalable.	|| Horizontally scalable.
|Follows ACID property.	|| Follows CAP(consistency, availability, partition tolerance).
|Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.	|| Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.

##### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example. 
##### Ans- Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System). DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP. These commands are used to create or modify the tables in SQL.
###### CREATE :- This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.
###### Syntax –
###### CREATE TABLE table_name
###### (
###### column_1 datatype,
###### column_2 datatype,
###### column_3 datatype,
###### ....
###### );

In [ ]:
CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

###### ALTER :-This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.
###### Syntax:- 
###### ALTER TABLE table_name
###### ADD column_name datatype;

In [ ]:
ALTER TABLE Student_info
ADD CGPA number;

###### TRUNCATE :- This command is used to remove all rows from the table, but the structure of the table still exists.
###### Syntax:-
###### TRUNCATE TABLE table_name;

In [ ]:
TRUNCATE TABLE Student_info;

###### DROP :- This command is used to remove an existing table along with its structure from the Database.
###### Syntax –
###### DROP TABLE table_name;

In [ ]:
DROP TABLE Student_info;

##### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
##### Ans- The data manipulation language statements are used to retrieve, add, delete, and modify the data that is stored in the objects of database.
###### INSERT Command:-
###### To add data to a table the INSERT command is used. The syntax of the INSERT command is given below:
###### INSERT into table-name values (data, data …)

In [ ]:
# lets take the example of EMPLOYEE table

INSERT into EMPLOYEE values (10, ‘Management’, ‘E01’, ‘John Abraham’);

###### Update Command:
###### To update a table or row or column in the table we use the update command. The syntax of update command is given below:
###### Update table-name set column-name = value where condition;

In [ ]:
Update employee set EMP_NO = E04 where DEPT_NO = 30;

###### Delete Command:
###### To delete a table row or some data from a table in the database the delete command is used. The syntax of delete command is as follows:
###### DELETE from table-name;

In [ ]:
DELETE from employee where DEPT_NO = 40;

##### Q4. What is DQL? Explain SELECT with an example.
##### Ans- DQL:- The commands of SQL that are used to retrieve data from the database are collectively called DQL. So all Select statements come under DQL.

###### The purpose of DQL Command is to get some schema relation based on the query passed to it.

###### Example:
###### SELECT – is used to retrieve data from the database.


##### The SELECT statement is used to select data from a database.

###### The data returned is stored in a result table, called the result-set.

###### SELECT Syntax
###### SELECT column1, column2, ...
###### FROM table_name;

In [ ]:
# Example of customer table to retrieve the CustomerName and city.
SELECT CustomerName, City FROM Customers;

##### Q5. Explain Primary Key and Foreign Key.
###### Ans- Primary key:- A primary key generally focuses on the uniqueness of the table. It is a column or a set of columns that uniquely distinguishes every row in the database. It means it should not have any duplicate value. Also, it doesn’t contain a NULL value.
##### Foreign key:-The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database.

##### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
##### Ans- The MySQLCursor of mysql-connector-python (and similar libraries) is used to execute statements to communicate with the MySQL database. Using the methods of it you can execute SQL statements, fetch data from the result sets, call procedures.

In [ ]:
import mysql.connector

#establishing the connection
conn = mysql.connector.connect(
   user='root', password='password', host='127.0.0.1', database='mydb'
)
#Creating a cursor object using the cursor() method
cursor = conn.cursor()

###### cursor():- 
###### The cursor provides a number of methods to access the data and metadata of an executed SQL statement.

###### execute():-
###### This method accepts a MySQL query as a parameter and executes the given query.

###### Q7. Give the order of execution of SQL clauses in an SQL query.
##### Ans- FROM and JOINs
###### The FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried. This includes subqueries in this clause, and can cause temporary tables to be created under the hood containing all the columns and rows of the tables being joined.

###### 2. WHERE
###### Once we have the total working set of data, the first-pass WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded. Each of the constraints can only access columns directly from the tables requested in the FROM clause. Aliases in the SELECT part of the query are not accessible in most databases since they may include expressions dependent on parts of the query that have not yet executed.

###### 3. GROUP BY
###### The remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause. As a result of the grouping, there will only be as many rows as there are unique values in that column. Implicitly, this means that you should only need to use this when you have aggregate functions in your query.

###### 4. HAVING
###### If the query has a GROUP BY clause, then the constraints in the HAVING clause are then applied to the grouped rows, discard the grouped rows that don't satisfy the constraint. Like the WHERE clause, aliases are also not accessible from this step in most databases.

###### 5. SELECT
###### Any expressions in the SELECT part of the query are finally computed.

###### 6. DISTINCT
###### Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.

###### 7. ORDER BY
###### If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order. Since all the expressions in the SELECT part of the query have been computed, you can reference aliases in this clause.

###### 8. LIMIT / OFFSET
###### Finally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded, leaving the final set of rows to be returned from the query.